<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ff bet</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main-container">
        <p class="ff-bet">FF BET</p>
        <div class="sub-main-container">
            <p class="match-trmnt">MATCHS & TOURNMENTS</p>
            <div class="match-details-container">
                <div class="firstprize-matchmodel">
                    <p class="first-prize">1st prize 500</p>
                    <input type="text" name="matchType" value="SOLO MATCH" readonly>
                </div>
                <div class="prize-entry">
                    <p>prize pool</p>
                    <p>Entry Amount</p>
                </div>
                <div class="prizeamt-entryamt">
                    <p>₹500 Rupees</p>
                    <form class="prize-form-container" id="paymentpage-submit-btn" action="/payment" method="post">
                        <input type="hidden" name="matchType" value="SOLO MATCH" readonly>
                        <input type="submit" class="entryamount-btn" name="entryAmount" value="₹49">
                    </form>
                </div>
                <div class="participants-counts">
                    <div>
                        <p>Total Participants</p>
                    </div>
                    <div>
                        <span id="registered-payer">50</span>/<span id="posible-player">50</span>
                    </div>
                </div>
                <div class="Player-details-container">
                    <form class="Player-details-form-container" action="/playerDetails" method="post">
                    <input type="submit" value="Player Details">
                    <p>Time: 3.00 pm</p> 
                    </form>
                </div>
                <div class="footer-container">
                    <p>1st prize ₹500</p>
                    <div class="guaranteed-container">
                        <p>✔ Your Not In Team</p>
                    </div>
                </div>
            </div>

            <div class="match-details-container">
                <div class="firstprize-matchmodel">
                    <p class="first-prize">1st prize 500</p>
                    <input type="text" name="matchType" value="SOLO MATCH" readonly>
                </div>
                <div class="prize-entry">
                    <p>prize pool</p>
                    <p>Entry Amount</p>
                </div>
                <div class="prizeamt-entryamt">
                    <p>₹500 Rupees</p>
                    <form class="prize-form-container" id="paymentpage-submit-btn" action="/payment" method="post">
                        <input type="hidden" name="matchType" value="SOLO MATCH" readonly>
                        <input type="submit" class="entryamount-btn" name="entryAmount" value="₹49">
                    </form>
                </div>
                <div class="participants-counts">
                    <div>
                        <p>Total Participants</p>
                    </div>
                    <div>
                        <span id="registered-payer">50</span>/<span id="posible-player">50</span>
                    </div>
                </div>
                <div class="Player-details-container">
                    <form class="Player-details-form-container" action="/playerDetails" method="post">
                    <input type="submit" value="Player Details">
                    <p>Time: 3.00 pm</p> 
                    </form>
                </div>
                <div class="footer-container">
                    <p>1st prize ₹500</p>
                    <div class="guaranteed-container">
                        <p>✔ Your Not In Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 



    <script src="/js/home.js"></script>
</body>
</html>