<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no">
    <title>ff bet</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="main-container">
        <p class="ff-bet">FF BET</p>
        <div class="sub-main-container">
            <p class="match-trmnt">MATCHS & TOURNMENTS</p>
            <div class="match-details-container">
                <div class="firstprize-matchmodel">
                    <p class="first-prize">1st prize 500</p>
                    <p>SOLO MATCH</p>
                </div>

                <div class="prize-entry">
                    <p>prize pool</p>
                    <p>Entry Amount</p>
                </div>
                <div class="prizeamt-entryamt">
                    <p>₹500 Rupees</p>
                    <form class="prize-form-container" action="" method="post">
                        <input type="submit" value="₹49">
                    </form>
                </div>
                <div class="participants-counts">
                    <p>Total Participants</p>
                    <p>50/50</p>
                </div>
                <div class="Player-details-container">
                    <form class="Player-details-form-container" action="/playerDetails" method="post">
                    <input type="submit" value="Player Details">
                    <p>Time: 3.00 pm</p> 
                    </form>
                </div>
                <div class="footer-container">
                    <p>1st prize ₹500</p>
                    <div class="guaranteed-container">
                        <p>✔ Your Not In Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>