<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>my page</title>
</head>
<body>
    <div class="create-container">
        <form action="/creatematchsmyself" method="post">
            <input type="text" name="matchtype" required placeholder="MATCH TYPE">
            <input type="text" name="matchentryamount" required placeholder="MACTH ENTRY AMOUNT">
            <input type="text" name="matchfirstprice"  required placeholder="MACTH FIRST PRICE">
            <input type="text" name="playerlimit" required placeholder="MACTH PLAYER LIMIT">
            <input type="text" name="matchstarttime" required placeholder="MACTH START TIME">
            <input type="submit" value="creatematch">
        </form>
        

    </div>
</body>
</html>