<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaymentError</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            font-size: 22px;
            align-items: center;
   
        }
        p{
            border: 1px solid black;
            text-align: center;
            display: flex;
            justify-content: center;
            background-color:rgb(164, 39, 39);
            color: white;
            padding: 5px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <p>Your payment Id <%= TransactionId %> was Used Already Enter Valid Payment TransactionId</p>
</body>
</html>