<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ff bet player select</title>
    <link rel="stylesheet" href="/css/playerselectedpage.css">
</head>
<body>
    <div class="main-container">
        <div class="sub-main-container">
            <form action="/playerSelect" method="post">
                <input type="text" name="MDmatchId" value="">
                <input type="text" name="playerName" value="">
                <input type="text" name="playerId" value="">
                <input type="text" name="matchType" value="">
                <input type="text" name="matchStartingTime" value="">
                <input type="text" name="entryAmount" value="">
                <input type="text" name="TransactionId" value="">
                <input type="submit" value="select">
                <input type="submit" formaction="/playerReject" value="reject">
            </form>



        </div>
    </div>
</body>
</html>