<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ff bet / player details</title>
    <link rel="stylesheet" href="/css/playerDetails.css">
</head>
<body>
    <div>
        <p>hii</p>
    </div>
    
</body>
</html>