*{
    margin: 0;padding: 0;font-family: sans-serif;
}
body{
    background-color: rgb(243, 193, 209);
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}
.main-container div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 50px;
}
.main-container div p{
    border: 1px solid black;
    padding: 5px;
}
.main-container div label{
    color: blue;
    position: relative;
    top: 20px;
}
